<!-- Header Section -->
<header>
    <div class="header-section header-bg bg-image ">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mx-auto mt-lg-0 fs-8">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">خانه</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="hotel.html">هتل ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">تور مسافرتی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">بلیط مسافرتی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">پشتیبانی</a>
                        </li>
                    </ul>
                    <div class="">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-info">Action</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="UserDashborad">داشبورد</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="logout">خروج</a></li>
                                </ul>
                            </div>

                            <a class="btn btn-info rounded-pill mt-2 ms-3">
                                سبد خرید <i class="bi bi-basket ps-2 "></i>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Register" class="btn btn-danger rounded-pill mt-2">
                                ورود / ثبت نام
                            </a>
                        }


                    </div>
                </div>
            </nav>
            <div class="row align-content-center text-white">
                <div class="col-md-12 col-lg-8">
                    <div class="header-title w-50">
                        <h3>همین حالا با خرید تور مناسب سفر خودتون رو شروع کنید!</h3>
                        <button class="btn btn-danger">منتظر چی هستید!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->