@model Hotel.Domain.Entities.Web.FirstBaner

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h1>Create</h1>

    <h4>FirstBaner</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="banerTitle" class="control-label"></label>
                    <input asp-for="banerTitle" class="form-control" />
                    <span asp-validation-for="banerTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="banerBotton" class="control-label"></label>
                    <input asp-for="banerBotton" class="form-control" />
                    <span asp-validation-for="banerBotton" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageName" class="control-label"></label>
                    <input asp-for="ImageName" class="form-control" />
                    <span asp-validation-for="ImageName" class="text-danger"></span>
                </div>
                <div class="form-group p-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-info" asp-action="Index">Back to List</a>
    </div>

</div>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@